<!DOCTYPE html>
<html lang="en">
<head>
    <!--Source for code: https://bootsnipp.com/snippets/dldxB--->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/log-in.css"> <!--Note: We don't need /public-->
</head>

<body>
   <!---For the facebook button you need a app-id -->
    <div class="wrapper">
        <!---Wrapper class groups elements--->
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div id="title">Login/SignUp</div>
            <br>
    
            <!-- Login Form -->
            <form>
                <div id="row1">
                    <label>E-mail</label>
                    <input type="text">
                </div>
                <br>
    
                <div id="row2">
                    <label>Password</label>
                    <input type="password">
                </div>
    
                <br>
                <div id="row3">
                    <input class="btn btn-primary btn-sm" type="submit" value="Sign in" id="signIn">
                    <input type="checkbox">
                    <label id="remember-me">Remember me</label><br>
                    <a href="#">Forgot your Password?</a>
                </div>
    
                <div id="row4">
                    <label>OR</label>
                </div>
    
                <div id="row5">
                    <label>Sign in using your account with</label>
                </div>
    
                <div id="row6">
                    <!--After I finifh everything ill get the apis to put the actuall buttons--->
                    <input type="button" value="Google">
                    <input type="button" value="Facebook">
                    <input type="button" value="Twitter">
                </div>
                <br>
    
    
            </form>
    
        </div>
    </div>

</body>
</html>
